.LogInBanner{
    width: 100vw;
    height: 100vh;
    position: absolute;  
    background-image: url('../../files/BannerImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    
    

    .container{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 500px;
        height: 450px;
        padding: 50px 20px;
        background-color: rgba(20, 20, 20, 0.912);
        border-radius: 5px;
    }

    h1{
        color: azure;
    }

    input{
        background-color: rgba(20, 20, 20, 0.9);
        border: none;
        height: 30px;
        border-radius: 10px;
        color: white;
        width: 100%;
        padding: 0 10px;
        &:focus{
            background-color: rgba(111, 105, 105, 1);
        }
        &:not(:placeholder-shown) {
            color: black;
            background-color: #c5e7ab; // Light green background when the input has text
          }
    }

    .signIn{
        display: flex;
        flex-direction: column;
        color: azure;
        font-weight: 200;
        background-color: rgba(20, 20, 20, 0.9);
        border: 1px solid rgb(168, 44, 44);
        border-radius: 5px;
        margin-top: 10px;
        width: 300px;
        // height: 50px;
        padding: 5px;
    }

    button{
        width: 300px;
        height: 35px;
        font-size: 1rem;
        font-weight: 500;
        background-color: rgb(180, 49, 49);
        color: azure;
        border-radius: 5px;
        border: none;
    }

    h5{
        color: azure;
        width: 300px;
        font-weight: 300;
    }

    .errorMsg{
        display: flex;
        align-items: center;
        color: red;
        width: 200px;
        font-size: 16px;
    }

    
}

@media (max-width: 920px) { 

    .LogInBanner{
        position: static;
        width: 100%;
        
    }

    .container {
        width: 90vw;
        // padding: 10px !important; 
        // margin-top: 30px;
        margin: auto 0 !important;
        width: 400px;
        position: static !important;
        margin: 0 auto;
        transform: translate(0) !important;
      }


}


