.FavoritesContainer {
  background-color: #191b19;
  min-height: 100vh;
  height: auto;

  .favorite-card {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
  }

  .movie-card {
    width: 550px;
    margin: 5px;
    padding: 5px;
    display: flex;
  }

  img {
    height: 300px;
  }

  .movie-content {
    color: azure;
    padding: 10px;
    width: 450px;
  }

  .movie-remove{
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }

  .remove-movie-btn {
    background-color: #dc5959; 
    color: #212529; 
    border: 1px solid #dc59597e; 
    border-radius: 4px; 
    padding: 8px 12px; 
    font-size: 14px;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: #e9ecef; 
      color: #b43131; 
    }
  }
}
